TerminalWindow,
TerminalWindow.background {
  /*background-color: #6e6e6e;*/
  background-color: #363636;
  /*color: #000000;*/
  color: #696969;
}

TerminalWindow .notebook tab {
  padding: 2;
  /*background-color: #6e6e6e;*/
  /*color: white;*/
}

TerminalWindow .notebook tab:active {
  /*background-color: #d1d1d1;*/
  /*background-color: #002630;*/
  /*border-color: ;*/
  color: #333333 !important;
}
